extends layout

block content
	div.container
		h1 RemoteIP
		p An example of getting the client IP address in node.js.

		legend Example Usage of RemoteIP

		.well
			p $ npm install remoteip
			p var remoteip = require('remoteip');
			p console.log(remoteip.get(req));
		
		h2 #{ip}
		
		#author(style='margin: 100px 0 0 0; padding: 10px 0 0 0; border-top: 1px solid #c0c0c0;') Created by <a href="http://www.primaryobjects.com/kory-becker.aspx">Kory Becker</a>